a {
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

.username {
	font-weight: bold;
}

.splitMainView {
	max-width: 1160px;
}

.horizontalBar {
	width: 100%;
	height: 5px;
}

/**
 * For rounded objects
 */
.round1,.round2,.round4 {
	font-size: 0px;
	height: 1px;
	margin: 0px;
	padding: 0px;
}

.round1 {
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.round2 {
	border-left: 2px solid white;
	border-right: 2px solid white;
}

.round4 {
	border-left: 4px solid white;
	border-right: 4px solid white;
}

/**
 * For rounded tabs
 */
.roundtab_active {
	background-color: #C3D9FF;
}

.roundtab_inactive {
	background-color: #E5ECF9;
}

.roundtab {
	float: left;
	margin-right: 8px;
}

.roundtab a {
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
	color: black;
}

.roundtab_inner {
	margin: 0px;
	padding: 0px 13px;
}

/**
 * For simple tabs
 */

.simpletab_container {
  background-color: #C3D9FF;
  padding: 3px;
}

.simpletab_bar {
	background-color: #C3D9FF;
}

.simpletab_panel {
	background-color: #E5ECF9;
	padding: 5px;
}

.simpletab {
	float: left;
	margin-right: 8px;
	padding: 2px 13px;
}

.simpletab_active {
	background-color: #E5ECF9;
	font-weight: bold;
}

.simpletab_inactive {
	background-color: #C3D9FF;
	font-weight: bold;
}

.simpletab_active a {
	text-decoration: none;
	color: black;
}